giotto-tda
jupyter
matplotlib
openml
pandas
yfinance
seaborn
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
