giotto-tda
jupyter
matplotlib
openml
pandas
yfinance
seaborn
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=2.7.2 # not directly required, pinned by Snyk to avoid a vulnerability
